{% extends 'base.html' %}


{% block title %} Home {% endblock %}

{% block content %}

{% if page_obj %}
<main class="container">
  {% for article in page_obj %}
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-3 d-flex flex-column position-static">
      <strong class="d-inline-block mb-10 text-success">{% for tag in article.tags.all %}#{{ tag }} {% endfor %}</strong>   
        <h3 class="mb-0">{{article.title}}</h3>
        <h5 class="mb-1">{{article.author.first_name}} {{article.author.last_name}}</h5>
        <div class="mb-1 text-muted">{{article.created}}</div>
        <p class="cut_text">{{article.text}}</p>
        <a href='/article/{{article.id}}' class="stretched-link">Continue reading</a>
      </div>
      <div class="col-auto d-none d-lg-block">
        {% if article.img%}
          <img id="home_img" src="{{ article.img.url}}">
        {% endif %}
      </div>
    </div>
  {% endfor %}
</div>
</main>


<div class="pagination justify-content-center" >
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{%else%} 
<h2> Threre is empty </h2>
{%endif%}
{% endblock %}